REPORTS_API_PORT=8000

KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=reports-realm
KEYCLOAK_CLIENT_ID=reports-api
KEYCLOAK_CLIENT_SECRET=

CLICKHOUSE_HOST=http://olap_db:8123
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

DEBUG_REPORTS=false
